<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia ITSVC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../assets/css/css.css">
</head>
<body>
    <div class="container-fluid header d-flex justify-content-between align-items-center">
        <h3 class="fw-bold etiquetado">ASISTENCIA ITSCV</h3>
        <div>
            <a href="#" class="btn btn-outline-dark">Ingresar</a>
            <a href="#" class="btn btn-custom">Registro</a>
        </div>
    </div>

    <div class="container mt-5">
        <h3 class="fw-bold sesion">INGRESE A LA PLATAFORMA</h3>
        <div class="container logoitsvc mt-5 text-center">
            <img class="logoitsvc" src="../../assets/img/itsvc.png" alt="">
        </div>

        <div class="container mt-5 inputsesion">
            <form action="" >
                <div class="mb-3 row">
                    <div class="col-12">
                      <input type="text" class="form-control inputB" id="usuario" name="usuario" placeholder="Usuario">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                      <input type="password" class="form-control inputB" id="contrasena" name="contrasena" placeholder="Contraseña">
                    </div>
                </div>
                <div class="mb-3 row mt-4 justify-content-center">
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-custom">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>