<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistencia ITSVC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!--Librerias para DataTables-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
    <!--Estilos personales-->
    <link rel="stylesheet" href="../../../assets/css/css.css">
</head>
<body>
    <div class="container-fluid header d-flex justify-content-between align-items-center">
        <h3 class="fw-bold etiquetado">ASISTENCIA ITSCV</h3>
        <div>
            <a href="#" class="btn btn-custom">Cerrar sesión</a>
        </div>
    </div>

    <div class="container mt-4">
        <h4 class="fw-bold etiquetado"><i class="fas fa-user"></i> Asistencias de Eventos</h4>
        <div class="d-flex justify-content-end">
            <div class="">
                <button class="btn btn-secondary" onclick="window.history.back();">Regresar</button>
            </div>
        </div>
        <div class="table-container mt-3">
            <table id="dataTableEventos" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>C. Identificacion</th>
                        <th>Nombre</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                        <th>H. Ingreso Evento</th>
                        <th>H. Ingreso</th>
                        <th>H. Salida Evento</th>
                        <th>Carrera</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
        <div class="action-buttons">
            <button class="btn btn-success"><i class="fa-solid fa-download"></i></button>
            <button class="btn btn-info"><i class="fa-solid fa-print"></i></button>
        </div>
    </div>

    <!--Modal para Registar a los Usuarios-->
    <div class="modal fade" id="ModalguardarEventos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="fw-bold etiquetado"><i class="fas fa-user"></i> Registro de Usuarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <a href="#"><img class="huellaRegistro" src="../../assets/img/huellaRegistro.webp" alt=""></a>
                            </div>
                            <div class="col-md-6">
                                <form action="" method="" class="form">
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-regular fa-id-card"></i>
                                        <div class="col-sm-10">
                                          <input type="text" class="form-control inputB" id="matricula" name="matricula" placeholder="Matricula">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-user"></i>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control inputB" id="nombre" nome="nombre" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-user"></i>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control inputB" id="apellido_paterno" nome="apellido_paterno" placeholder="Apellido Paterno">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-user"></i>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control inputB" id="apellido_materno" nome="apellido_materno" placeholder="Apellido Materno">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-envelope"></i>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control inputB" id="correo" nome="correo" placeholder="Correo Institucional">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-venus-mars"></i>
                                        <div class="col-sm-10">
                                            <select class="form-select inputB" id="sexo" name="sexo">
                                                <option selected value disabled="">Sexo</option>
                                                <option value="H">Hombre</option>
                                                <option value="M">Mujer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-users"></i>
                                        <div class="col-sm-10">
                                            <select class="form-select inputB" id="cargo" name="cargo">
                                                <option selected value disabled="">Cargo</option>
                                                <option value="Administrativos">Administrativos</option>
                                                <option value="Profesor">Profesor</option>
                                                <option value="Alumno">Alumno</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <i class="col-sm-1 fa-solid fa-gears"></i>
                                        <div class="col-sm-10">
                                            <select class="form-select inputB" id="carrera" name="carrera">
                                                <option selected value disabled="">Carrera</option>
                                                <option value="Administrador">IGEO</option>
                                                <option value="Profesor">IGEM</option>
                                                <option value="Alumno">ISIC</option>
                                                <option value="Alumno">IFOR</option>
                                                <option value="Alumno">IALI</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-custom">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--Scripst para el dataTable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
    <!--Script personales-->
    <script src="../../../assets/dataTables/dataTables.js"></script>
</body>
</html>