/*Error de verificaciones de inputs*/
.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0; 
    width: 100%; 
    display: block;
}

.header {
    background-color: #DFEEEE;
    padding: 15px;
}
.btn-custom {
    background-color: #174D4D;
    color: white;
    border: none;
}
.btn-custom:hover {
    background-color: #174D4D;
}
.table-container {
    background: #d3d3d3;
    padding: 15px;
    border-radius: 10px;
}
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.etiquetado{
    color: #174D4D;
}
.sesion{
    color: #174D4D;
    text-align: center;
}
.logoitsvc{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.inputsesion{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    align-items: center;
}
.inputB{
    border: 1px solid #174D4D;
}
.recuadro {
    width: 300px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid #174D4D;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 150%;
    color: #174D4D;
    margin-left: 70px;
    transition: 0.5s ease;
}
.recuadro:hover {
    transform: scale(1.1);
    background-color: #DFEEEE;
}

.recuadroAsist {
    width: 400px;
    height: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 4px solid #174D4D;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 150%;
    color: #174D4D;
    margin-left: 100px;
    transition: 0.5s ease;
}
.recuadroAsist:hover {
    transform: scale(1.1);
    background-color: #DFEEEE;
}
.imgmenu{
    width: 200px;
    height: 200px;
    line-height: 60px;
}
.logoitsvcIzq{
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}
.eventos{
    width: 300%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 20px;
}
@media (max-width: 1024px) {
    .eventos {
        width: 100%;
        height: auto;
    }
}
.left-section {
    flex: 2;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.right-section {
    flex: 1;
    background: url('../../assets/img/itsvc1.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}
.huellaimg {
    width: 250px;
}
.inicioHuella{
    height: 90vh;
    display: flex;
}
.huellaRegistro{
    height: 40vh;
    display: flex;
    margin-top: 50px;
    margin-left: 100px
}
.error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0; 
    width: 100%; 
    display: block;
}